* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

menu ul {
    display: flex;
    align-items: center;
    background-color: cadetblue;
    list-style: none;
    padding: .5em;
    margin: 0;
}

li {
    margin: 0 1em;
padding: 0;
}

.logo {
    margin-right: auto;

}

.btn {
    background-color: chocolate;
}

@media (max-width:567px) {
    menu {
        display: flex;
        flex-direction: column;
        width: 100px;
        flex-wra;
    }

}